
<link href="~/css/Notification.css" rel="stylesheet" />
<script src="~/js/xlPaging.js"></script>
<script src="~/js/Forum_function.js"></script>
<script src="~/js/Notification.js"></script>
<div class="Menu_Container">
    <div class="Menu">
        <ul class="nav nav-pills nav-stacked">
            <li class="comment_notice "><a href="#">评论</a></li>
            <li class="concern_notice"><a href="#">关注</a></li>
            <li class="System_notice"><a href="#">系统通知</a></li>
        </ul>
    </div>
    <div class="Container_Content">

    </div>
</div>
