@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Error.css" rel="stylesheet" />
</head>
<body>
    <div class="Error404">
        <div class="number">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </div>
        <div class="back_Div">
            <a href="/home/index" class="btn btn-default">返回首页</a>
        </div>
    </div>
</body>
</html>
