
@{
    ViewData["Title"] = "UserInfo_Container";
}
<link href="~/css/universally.css" rel="stylesheet" />
<link href="~/css/UserInfo.css" rel="stylesheet" />
<script src="~/js/Forum_function.js"></script>
<script src="~/js/xlPaging.js"></script>
<script src="~/js/UserInfo.js"></script>
<div class="Menu_Container">
    <div class="Menu">
        <ul class="nav nav-pills nav-stacked">
            <li class="User_forum"><a href="#">我的帖子</a></li>
            <li class="User_Comment"><a href="#">我的评论</a></li>
        </ul>
    </div>
    <div class="Container_Content">

    </div>
</div>




